.hero-background {
 background-blend-mode: multiply;
 background-color: rgba(0, 0, 0, 0.566);
 background-image: url("https://images.unsplash.com/photo-1509062522246-3755977927d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1232&q=80");
}